<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roger.grab.base.dao.mapping.GrabMappingMapper">
	<sql id="authorColumns">
        <![CDATA[
			FID                    AS  id,                   
			FGRABID                AS  grabId,                 
			FMAPPINGSCHEMA         AS  mappings, 
			FFIXED_VALUE           AS  fixedValues,
			FMAPPING_VALUE         AS  mappingValues, 
			FMODEID				   AS  modeId,    
			FCREATE_TIME		   AS  createTime,
			FUPDATE_TIME		   AS  updateTime
        ]]>
	</sql>

	<select id="get"
		resultType="com.roger.grab.base.domain.grab.GrabResultParamString">
		SELECT
		<include refid="authorColumns" />
        <![CDATA[
			FROM T_GRAB_MAPPING
			WHERE FGRABID=#{grabId}
		]]>
	</select>

	<select id="find" resultType="com.roger.grab.base.domain.grab.GrabResultParamString">
		SELECT
		<include refid="authorColumns" />
		FROM T_GRAB_MAPPING
		WHERE 1=1
		<if test="modeId != null">
			AND FMODEID =#{modeId}
		</if>
		<if test="grabId != null">
			AND FGRABID =#{grabId}
		</if>
		ORDER BY FID DESC
	</select>


	<insert id="add"
		parameterType="com.roger.grab.base.domain.grab.GrabResultParamString"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO T_GRAB_MAPPING(
		FGRABID ,
		FMAPPINGSCHEMA ,
		FFIXED_VALUE ,
		FMAPPING_VALUE ,
		FMODEID ,
		FCREATE_TIME ,
		FUPDATE_TIME
		)
		VALUES (
		<![CDATA[
			#{grabId},                 
			#{mappings},  
			#{fixedValues},
			#{mappingValues},
			#{modeId},   
			NOW(),
			NOW()
		]]>
		)
	</insert>

	<update id="update"
		parameterType="com.roger.grab.base.domain.grab.GrabResultParamString">
		UPDATE T_GRAB_MAPPING
		<set>
			<if test="mappings != null and mappings !=''">
				FMAPPINGSCHEMA =#{mappings} ,
			</if>
			<if test="fixedValues != null">
				FFIXED_VALUE =#{fixedValues} ,
			</if>
			<if test="mappingValues != null">
				FMAPPING_VALUE =#{mappingValues} ,
			</if>
			<if test="modeId != null">
				FMODEID =#{modeId} ,
			</if>
			FUPDATE_TIME =NOW() ,
		</set>
		WHERE FGRABID = #{grabId}
	</update>

	<delete id="del">
		DELETE
        <![CDATA[
			FROM T_GRAB_MAPPING
			WHERE FGRABID=#{grabId}
		]]>
	</delete>

</mapper>
