<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd                
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 注解映射的支持 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="features">
					<array>
						<bean id="QuoteFieldNames"
							class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
							<property name="staticField"
								value="com.alibaba.fastjson.serializer.SerializerFeature.QuoteFieldNames"></property>
						</bean>
						<bean id="WriteMapNullValue"
							class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
							<property name="staticField"
								value="com.alibaba.fastjson.serializer.SerializerFeature.WriteMapNullValue"></property>
						</bean>
					</array>
				</property>
				<property name="supportedMediaTypes">
					<list>
						<value>application/json</value>
						<value>text/json</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />

	<mvc:view-controller path="/page/**" view-name="/src/index.html" />
	<!-- 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="52428800" />
	</bean>
	 -->
	 
	 <context:component-scan	base-package="com.roger.grab.manage.controller" />
</beans>
