$body-bg: #ffffff;
$font-family-sans-serif :  "Source Han Sans CN", "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Roboto, "Noto Sans CJK SC", Arial, Sans-serif;
$medium-font: "Source Han Sans CN Medium";
// color
$blue-primary: #256DFF;
$blue-secondary: #387AFF;
$purple-primary: #6E31FF;
$purple-secondary: #7B42FF;
$red-primary: #FF3333;
$red-secondary: #FF4646;
$orange-primary: #FA622A;
$orange-secondary: #FF713D;
$yellow-primary: #FFBD24;
$yellow-secondary: #FFC336;
$green-primary: #31B535;
$green-secondary: #2FC433;
$black40: #999999;
$black30: #B2B2B2;
$black20: #CCCCCC;
$black15: #D9D9D9;
$black10: #E5E5E5;
$black5: #F2F2F2;