@import '~jsoneditor/dist/jsoneditor.css';
.cp-api-manage{
    padding-bottom: 15px;
    .steps{
        width: 720px;
        margin: 35px auto;
    }
    .panel{
        margin-left: auto;
        margin-right: auto;
        width: 1080px;
    }
    .step{
        margin-left: auto;
        margin-right: auto;
    }
    .step-one{
        width: 1080px;
    }
    .step-two{
        width: 1080px;
    }
    .step-three{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        >div{
            border: 1px solid rgba(0,0,0,0.3);
            min-width: 460px;
            height: 640px;
            overflow-y: scroll;
        }
        >i{
            margin: 0 5px;
        }
        .item{
            margin: 2px;
            padding: 5px;
            user-select: none;
        }
    }
    .cp-map{
        .item{
            &:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
    .proxy-map{
        padding: 5px;
        .add-proxy-map-item{
            width: 100%;
        }
        .ant-form-item, .item{
            width: 440px;
            display: flex;
            align-items: center;
            button{
                margin-left: 5px;
            }
            .ant-form-item-control-wrapper{
                flex-grow: 1;
            }
            .ant-select{
                width: 100%;
            }
            .target{
                width: 50%;
                .ant-select{
                    width: 35%;
                }
                input{
                    width: 65%;
                }
            }
        }
        .swap-right-icon{
            padding: 0 5px;
        }
        .swap-map-btn{
            padding: 0 5px;
        }
    }
    .target-map{
        padding: 5px;
        .item{
            display: flex;
            align-items: center;
            i.anticon-right{
                margin: 0 5px;
            }
            button{
                margin-left: 5px;
                &.block{
                    margin-left: 0;
                }
            }
        }
        .inline{
            display: flex;
            align-items: center;
            .ant-form-item-label{
                margin-left: 7px;
            }
        }
    }
    .block{
        width: 100%;
        display: block;
    }
}
.result-mapping-editor-modal{
    .inline-input{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        i{
            margin: 0 5px;
        }
        button{
            margin-left: 5px;
        }
    }
    .block{
        width: 100%;
        display: block;
    }
}
